<!DOCTYPE html>
<html> 
        <head> 
            <title>Ngawi punya cerita</title>
            <link rel="icon" href="logo.ico" type="image/x-icon">


         </head>
        <body>
            <!-- Heading 1 -->
             <h1><i>Malam penebusan</i></h1>
             <p>Sewaktu maysa memakan mie sukses isi 2 bungkus datanglah komang dan ihsan besik meminta mie yang sudah maysa siapkan untuk dirinya sendiri</p><p>Merasa terancam diri nya pun berubah jadi kaiju dan hendak menyerang komang dan ihsan besik. Namun sedikit yang ia tahu ternyata komang bisa berubah menjadi pertapa sakti dan ihsan besik berubah menjadi anime</p>
             <p>"ANJAY<sup>2</sup>" Ucap seorang yang melintas diantara medan pertarungan tersebut</p>
             
             



        </body>




</html>